iframe{
    width: 1700px;
    height: 500px;
}
.movie_head i{
    float:right;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    width: 100%;
    border-radius: 20px;
}
span{
    color: orange;
}
#auditorium{
    width: 1000px;
    height: 600px;
}